@import url('./wal/header.css');
@import url('./wal/acercade.css');
@import url('./wal/footer.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(../img/wal/1459993.jpeg);
	background-size: cover;
}

